main {
  padding: 10px;
}

div {
  border: 1px solid black;
  padding: 10px;
}

/* Your code goes here... */
.wrapper {
    display: inline-grid;
    grid-row-gap: 7px;
    grid-column-gap: 4%;
    padding-left: 2.8%;
    grid-template-columns: 47% 47%;
    grid-auto-rows: min-content;
}