main {
  padding: 10px;
}

div {
  border: 1px solid black;
  padding: 10px;
}

.wrapper {
  display: grid; 
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
}

.subgrid {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.last {
  grid-column-start: 1;
  grid-column-end: 3;
}

.rowspan {
  grid-row-start: 1;
  grid-row-end: 3;
}
